name: to check and implement matrix strategy
on:
  push:
    branches: [ main , master ]
jobs:
  build:
    continue-on-error: true
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [14, 16, 18]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
            - os: ubuntu-latest
              node-version: 20
        exclude:
          - os: macos-latest
            node-version: 14
    steps:
      - name: check out code
        uses: actions/checkout@v4

      - name: install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix['node-version'] }}

      - name: install dependencies
        run: npm install

      - name: run tests
        run: npm test

