name: resuable workflows
on: 
    workflow_call:
        inputs:
            cache_key:
                required: false
                type: string
                default: dist-files
        outputs:
            result:
                description: 'result of reusable workflow'
                value: ${{jobs.deploy.outputs.outcome}}
                
jobs:
    deploy:
        outputs:
            outcome: ${{steps.set-ouput.outputs.result}} 
        runs-on: ubuntu-latest
        steps:
            - name: output info
              run: echo "This is a reusable workflow"
            - name: get code
              uses: actions/download-artifact@v4 
              with:
                key: ${{inputs.cache_key}}
            - name: show files
              run: cd ${{inputs.cache_key}} && ls -la 
            - name: set ouput of the workflow
              id: set-ouput
              run: echo "result=deployed successfully" >> $GITHUB_OUTPUT